<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.gacha.mapper.GachaMapper">
    <!-- 가챠정보 > 가챠 목록 > 가챠 목록 조회 > totalElements 계산 -->
    <select id="selectGachaListCnt">
        SELECT COUNT(G.id)
        FROM GACHA G
        WHERE 1=1
        <choose>
            <when test="keyword != null and keyword != ''">
                AND (
                       G.title        LIKE CONCAT('%', #{keyword}, '%')
                    OR G.manufacturer LIKE CONCAT('%', #{keyword}, '%')
                    OR EXISTS (
                        SELECT 1 FROM GACHA_ITEM GI
                        WHERE GI.gacha_id = G.id
                         AND GI.name  LIKE CONCAT('%', #{keyword}, '%')
                    )
                )
            </when>
        </choose>
    </select>

    <!-- 가챠정보 > 가챠 목록 > 가챠 목록 조회 -->
    <select id="selectGachaList" resultType="com.moira.itda.domain.gacha.dto.response.GachaResponse">
        SELECT
               G.id AS gacha_id
             , G.status
             , G.title
             , G.manufacturer
             , G.file_id
             , (SELECT file_url FROM IMAGE_FILE WHERE file_id = G.file_id ORDER BY created_at ASC LIMIT 1) AS file_url             , G.price
             , G.view_count
             , (SELECT COUNT(id) FROM GACHA_WISH WHERE gacha_id = G.id) AS wish_count
             , NULL AS total_pick_count
             , G.created_at
             , G.updated_at
        FROM GACHA G
        WHERE 1=1
        <choose>
            <when test="keyword != null and keyword != ''">
                AND (
                       G.title        LIKE CONCAT('%', #{keyword}, '%')
                    OR G.manufacturer LIKE CONCAT('%', #{keyword}, '%')
                    OR EXISTS (
                        SELECT 1 FROM GACHA_ITEM GI
                        WHERE GI.gacha_id = G.id
                        AND GI.name LIKE CONCAT('%', #{keyword}, '%')
                    )
                )
            </when>
        </choose>
        <choose>
            <when test="sort == 'OLDEST'">ORDER BY G.created_at ASC</when>
            <when test="sort == 'PRICE_ASC'">ORDER BY G.price ASC</when>
            <when test="sort == 'PRICE_DESC'">ORDER BY G.price DESC</when>
            <when test="sort == 'MOST_WISHED'">ORDER BY wish_count DESC</when>
            <otherwise>ORDER BY G.created_at DESC</otherwise>
        </choose>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 상세정보 조회 -->
    <select id="selectGacha" resultType="com.moira.itda.domain.gacha.dto.response.GachaResponse">
        SELECT
               G.id AS gacha_id
             , G.status
             , G.title
             , G.manufacturer
             , G.file_id
             , (SELECT file_url FROM IMAGE_FILE WHERE file_id = G.file_id ORDER BY created_at ASC LIMIT 1) AS file_url             , G.price
             , G.view_count
             , (SELECT COUNT(id) FROM GACHA_WISH WHERE gacha_id = G.id) AS wish_count
             , (SELECT COUNT(id) FROM GACHA_PICK_HISTORY WHERE gacha_id = G.id) AS total_pick_count
             , G.created_at
             , G.updated_at
        FROM GACHA G
        WHERE G.id = #{gachaId}
    </select>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 하위 아이템 목록 조회 -->
    <select id="selectGachaItemList" resultType="com.moira.itda.domain.gacha.dto.response.GachaItemResponse">
        SELECT
               GI.id AS gacha_item_id
             , GI.name
             , (SELECT COUNT(id) FROM GACHA_PICK_HISTORY WHERE gacha_id = GI.gacha_id AND gacha_item_id = GI.id) AS pick_count
        FROM GACHA_ITEM GI
        WHERE GI.gacha_id = #{gachaId}
        ORDER BY GI.created_at ASC
    </select>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 내 가챠 이력 조회 -->
    <select id="selectGachaPickHistoryList" resultType="java.lang.Long">
        SELECT gacha_item_id FROM GACHA_PICK_HISTORY WHERE gacha_id = #{gachaId} AND user_id = #{userId}
    </select>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 조회수 증가 -->
    <update id="updateViewCount">
        UPDATE GACHA SET view_count = view_count + 1 WHERE id = #{gachaId}
    </update>
</mapper>