<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatiG.org//DTD Mapper 3.0//EN"
        "https://mybatiG.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.gacha.detail.mapper.GachaDetailMapper">
    <!-- 가챠정보 > 가챠목록 > 상세정보 > 가챠 조회 -->
    <select id="getGacha" resultType="com.moira.itda.domain.gacha.detail.dto.response.GachaResponse">
        SELECT
               G.id AS gachaId
             , G.status
             , G.title
             , G.manufacturer
             , G.file_id
             , F.file_url
             , G.price
             , G.view_count
             , G.created_at
        FROM GACHA G
        LEFT JOIN IMAGE_FILE F
         ON F.file_id = G.file_id
        WHERE G.id = #{gachaId}
    </select>

    <!-- 가챠정보 > 가챠목록 > 상세정보 > 하위 아이템 목록 조회 -->
    <select id="getGachaItemList" resultType="com.moira.itda.domain.gacha.detail.dto.response.GachaItemResponse">
        SELECT
               id AS gachaItemId
             , name
        FROM GACHA_ITEM
        WHERE gacha_id = #{gachaId}
        ORDER BY created_at ASC
    </select>

    <!-- 가챠정보 > 가챠목록 > 상세정보 > 조회수 증가 -->
    <update id="updateViewCount">
        UPDATE GACHA SET view_count = view_count + 1 WHERE id = #{gachaId}
    </update>

    <!-- 가챠정보 > 가챠목록 > 상세정보 > 즐겨찾기 여부 조회 -->
    <select id="selectGachaWishChk" resultType="java.lang.String">
        SELECT CASE WHEN COUNT(id) > 0 THEN 'Y' ELSE 'N' END
        FROM GACHA_WISH
        WHERE user_id = #{userId} AND gacha_id = #{gachaId}
    </select>

    <!-- 가챠정보 > 가챠목록 > 상세정보 > 즐겨찾기 > GachaWish 저장 -->
    <insert id="insertGachaWish">
        INSERT INTO GACHA_WISH (
               user_id
             , gacha_id
             , created_at
        )
        VALUES (
               #{userId}
             , #{gachaId}
             , #{createdAt}
        )
    </insert>

    <!-- 가챠정보 > 가챠목록 > 상세정보 > 즐겨찾기 > GachaWish 삭제 -->
    <delete id="deleteGachaWish">
        DELETE FROM GACHA_WISH WHERE user_id = #{userId} AND gacha_id = #{gachaId}
    </delete>

    <!-- 가챠정보 > 가챠목록 > 상세정보 > 교환 > 진행 중인 교환글 존재 여부 확인 -->
    <select id="selectExchangeChk">
        SELECT COUNT(id)
        FROM TRADE
        WHERE  gacha_id = #{gachaId}
         AND  user_id   = #{userId}
         AND  status    = 'PENDING'
         AND  type      = 'EXCHANGE'
    </select>

    <!-- 가챠정보 > 가챠목록 > 상세정보 > 판매 > 판매 중인 교환글 존재 여부 확인 -->
    <select id="selectSalesChk">
        SELECT COUNT(id)
        FROM TRADE
        WHERE gacha_id   = #{gachaId}
         AND   user_id   = #{userId}
         AND   status    = 'PENDING'
         AND   type      = 'SALES'
    </select>

    <!-- 가챠정보 > 가챠목록 > 상세정보 > 거래 목록 조회 > totalElements 계산 -->
    <select id="selectTradeCnt">
        SELECT COUNT(id) FROM TRADE WHERE gacha_id = #{gachaId}
    </select>

    <!-- 가챠정보 > 가챠목록 > 상세정보 > 거래 목록 조회 -->
    <select id="selectTradeList" resultType="com.moira.itda.domain.gacha.detail.dto.response.TradeResponse">
        SELECT
               T.id AS tradeId
             , T.gacha_id
             , T.user_id
             , U.nickname AS userNickname
             , T.type
             , T.status
             , T.title
             , T.content
             , T.file_id
             , (SELECT file_url FROM IMAGE_FILE WHERE file_id = T.file_id ORDER BY created_at LIMIT 1) AS fileUrl
             , T.hope_method
             , T.hope_location
             , T.hope_address
             , T.hope_location_latitude
             , T.hope_location_longitude
             , T.created_at
        FROM TRADE T
        LEFT JOIN USER U
         ON U.id = T.user_id
        WHERE T.gacha_id = #{gachaId}
    </select>

    <!-- 가챠정보 > 가챠목록 > 상세정보 > 거래 목록 조회 > 하위 판매 정보 조회 -->
    <select id="selectTradeSalesItemList" resultType="com.moira.itda.domain.gacha.detail.dto.response.TradeSalesItemResponse">
        SELECT
               SI.id
             , GI.id   AS gachaItemId
             , GI.name AS gachaItemName
             , SI.count
             , SI.current_count
             , SI.price
             , SI.created_at
        FROM TRADE_SALES_ITEM SI
        LEFT JOIN GACHA_ITEM GI
         ON GI.id = SI.gacha_item_id
        WHERE SI.trade_id = #{tradeId}
         AND SI.gacha_id = #{gachaId}
    </select>
</mapper>