<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.gacha_list.mapper.GachaListMapper">
    <!-- 가챠목록 조회 > totalElements 계산 -->
    <select id="selectGachaListCnt">
        SELECT COUNT(G.id)
        FROM GACHA G
        WHERE 1=1
        <if test='keyword != null and keyword != ""'>
            AND (
                   G.title        LIKE CONCAT('%', #{keyword}, '%')
                OR G.manufacturer LIKE CONCAT('%', #{keyword}, '%')
                OR EXISTS (
                    SELECT 1 FROM GACHA_ITEM GI
                    WHERE GI.gacha_id = G.id
                     AND GI.name  LIKE CONCAT('%', #{keyword}, '%')
                )
            )
        </if>
        <if test='showMyWish == "Y"'>
            AND (
                EXISTS (
                    SELECT 1 FROM GACHA_WISH GW
                    WHERE GW.user_id = #{userId} AND GW.gacha_id = G.id
                )
            )
        </if>
    </select>

    <!-- 가챠목록 조회 -->
    <select id="selectGachaList" resultType="com.moira.itda.domain.gacha_list.dto.response.GachaListResponse">
        WITH WISH_COUNT AS (
            SELECT
                   gacha_id
                 , COUNT(*) AS cnt
            FROM GACHA_WISH
            GROUP BY gacha_id
        ),
        TRADE_COUNT AS (
            SELECT
                   gacha_id
                 , COUNT(*) AS cnt
            FROM TRADE_COMPLETE_HISTORY
            GROUP BY gacha_id
        )
        SELECT
               G.id                 AS gacha_id
             , G.status
             , G.title
             , G.manufacturer
             , G.file_id
             , F.file_url
             , G.view_count
             , IFNULL(WC.cnt, 0)    AS wish_count
             , IFNULL(TC.cnt, 0)    AS trade_count
             , G.created_at
             , G.updated_at
        FROM GACHA G
         LEFT JOIN IMAGE_FILE  F  ON F.file_id   = G.file_id
         LEFT JOIN WISH_COUNT  WC ON WC.gacha_id = G.id
         LEFT JOIN TRADE_COUNT TC ON TC.gacha_id = G.id
        WHERE 1=1
        <if test='keyword != null and keyword != ""'>
            AND (
                   G.title        LIKE CONCAT('%', #{keyword}, '%')
                OR G.manufacturer LIKE CONCAT('%', #{keyword}, '%')
                OR EXISTS (
                    SELECT 1 FROM GACHA_ITEM GI
                    WHERE GI.gacha_id = G.id
                     AND GI.name LIKE CONCAT('%', #{keyword}, '%')
                )
            )
        </if>
        <if test='showMyWish == "Y"'>
            AND (
                EXISTS (
                    SELECT 1 FROM GACHA_WISH GW
                    WHERE GW.user_id = #{userId} AND GW.gacha_id = G.id
                )
            )
        </if>
        <choose>
            <when test="sort == 'OLDEST'">     ORDER BY G.created_at ASC</when>
            <when test="sort == 'MOST_VIEWED'">ORDER BY G.view_count DESC</when>
            <when test="sort == 'MOST_WISHED'">ORDER BY wish_count   DESC</when>
            <when test="sort == 'MOST_TRADED'">ORDER BY trade_count  DESC</when>
            <otherwise>ORDER BY G.created_at DESC</otherwise>
        </choose>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
</mapper>