<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.admin.gacha.mapper.AdminGachaMapper">
    <!-- 어드민 페이지 > 가챠정보 > 등록 > 등록 파일 개수 확인 -->
    <select id="selectImageFileChk">
        SELECT COUNT(id) FROM IMAGE_FILE WHERE file_id = #{fileId}
    </select>

    <!-- 어드민 페이지 > 가챠정보 > 등록 > Gacha 저장 -->
    <insert id="insertGacha">
        INSERT INTO GACHA (
               id
             , status
             , title
             , manufacturer
             , file_id
             , price
             , view_count
             , created_at
             , updated_at
        )
        VALUES (
               #{id}
             , #{status}
             , #{title}
             , #{manufacturer}
             , #{fileId}
             , #{price}
             , #{viewCount}
             , #{createdAt}
             , #{updatedAt}
        )
    </insert>

    <!-- 어드민 페이지 > 가챠정보 > 등록 > GachaItem 저장 -->
    <insert id="insertGachaItem">
        INSERT INTO GACHA_ITEM (
               gacha_id
             , name
             , file_id
             , rarity
             , created_at
             , updated_at
        )
        VALUES (
               #{gachaId}
             , #{name}
             , #{fileId}
             , #{rarity}
             , #{createdAt}
             , #{updatedAt}
        )
    </insert>
</mapper>