<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.admin.gacha.mapper.AdminGachaMapper">
    <!-- 어드민 페이지 > 가챠정보 > 등록 > 등록 파일 개수 확인 -->
    <select id="selectImageFileChk">
        SELECT COUNT(id) FROM IMAGE_FILE WHERE file_id = #{fileId}
    </select>

    <!-- 어드민 페이지 > 가챠정보 > 등록 > Gacha 저장 -->
    <insert id="insertGacha">
        INSERT INTO GACHA (
               id
             , status
             , title
             , manufacturer
             , file_id
             , price
             , view_count
             , created_at
             , updated_at
        )
        VALUES (
               #{id}
             , #{status}
             , #{title}
             , #{manufacturer}
             , #{fileId}
             , #{price}
             , #{viewCount}
             , #{createdAt}
             , #{updatedAt}
        )
    </insert>

    <!-- 어드민 페이지 > 가챠정보 > 등록 > GachaItem 저장 -->
    <insert id="insertGachaItem">
        INSERT INTO GACHA_ITEM (
               gacha_id
             , name
             , file_id
             , rarity
             , created_at
             , updated_at
        )
        VALUES (
               #{gachaId}
             , #{name}
             , #{fileId}
             , #{rarity}
             , #{createdAt}
             , #{updatedAt}
        )
    </insert>

    <!-- 어드민 페이지 > 가챠정보 > 전체 조회 -->
    <select id="selectGachaList" resultType="com.moira.itda.domain.admin.gacha.dto.response.AdminGachaResponse">
        SELECT
               G.id AS gachaId
             , G.status
             , G.title
             , G.manufacturer
             , G.file_id
             , F.file_url
             , G.price
             , G.view_count
             , G.created_at
             , G.updated_at
        FROM GACHA G
        LEFT JOIN IMAGE_FILE F
         ON F.file_id = G.file_id
        WHERE 1=1
        <choose>
            <when test="keywordPattern != null and keywordPattern != ''">
                   G.title        LIKE #{keywordPattern}
                OR G.manufacturer LIKE #{keywordPattern}
            </when>
        </choose>
        ORDER BY G.created_at ASC
    </select>

    <!-- 어드민 페이지 > 가챠정보 > 하위 아이템 목록 조회 -->
    <select id="selectGachaItemList" resultType="com.moira.itda.domain.admin.gacha.dto.response.AdminGachaItemResponse">
        SELECT
               id AS gachaItemId
             , name
             , created_at
             , updated_at
        FROM GACHA_ITEM
        WHERE gacha_id = #{gachaId}
        ORDER BY created_at ASC
    </select>
</mapper>