<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.admin.info.mapper.AdminGachaInfoAddMapper">
    <!-- 어드민 페이지 > 정보등록요청 탭 > 정보등록요청 목록 조회 -->
    <select id="selectGachaInfoAddList" resultType="com.moira.itda.domain.admin.info.dto.response.AdminGachaInfoAddResponse">
        SELECT
               IA.id
             , IA.status
             , IA.type
             , IA.content
             , IA.admin_comment
             , IA.receive_email_yn
             , IA.requested_at
             , IA.processed_at
             , IA.user_id
             , U.nickname AS userNickname
        FROM GACHA_INFO_ADD IA
        LEFT JOIN USER U
         ON U.id = IA.user_id
    </select>

    <!-- 어드민 페이지 > 정보등록요청 탭 > 정보등록요청 목록 조회 > 정보등록요청 상세 정보 조회 -->
    <select id="selectGachaInfoAdd" resultType="com.moira.itda.domain.admin.info.dto.response.AdminGachaInfoAddDetailResponse">
        SELECT
               IA.id
             , IA.status
             , IA.type
             , IA.content
             , IA.file_id
             , F.file_url
             , IA.admin_comment
             , IA.receive_email_yn
             , IA.requested_at
             , IA.processed_at
             , IA.user_id
             , U.nickname AS userNickname
        FROM GACHA_INFO_ADD IA
        LEFT JOIN IMAGE_FILE F
         ON F.file_id = IA.file_id
        LEFT JOIN USER U
         ON U.id = IA.user_id
        WHERE IA.id = #{infoId}
    </select>
</mapper>