<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.chat.send.mapper.ChatSendMapper">
    <!-- 메시지 전송 > ChatMessage 저장 -->
    <insert id="insertChatMessage">
        INSERT INTO CHAT_MESSAGE (
               chat_room_id
             , sender_id
             , message
             , created_at
        )
        VALUES (
               #{chatRoomId}
             , #{senderId}
             , #{message}
             , #{createdAt}
        )
    </insert>
</mapper>