<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.chat.temp.mapper.ChatRoomMapper">
    <!-- 거래취소 > 채팅방 정보 조회 -->
    <select id="selectChatRoomInfo" resultType="java.util.HashMap">
        SELECT status, seller_id, buyer_id FROM CHAT_ROOM WHERE id = #{chatRoomId}
    </select>

    <!-- 거래취소 > TradeCancelHistory 저장 -->
    <insert id="insertTradeCancelHistory">
        INSERT INTO TRADE_CANCEL_HISTORY (
               chat_room_id
             , trade_id
             , trade_suggest_id
             , gacha_id
             , canceled_user_id
             , cancel_reason
             , canceled_at
        )
        VALUES (
               #{chatRoomId}
             , #{tradeId}
             , #{tradeSuggestId}
             , #{gachaId}
             , #{canceledUserId}
             , #{cancelReason}
             , #{canceledAt}
        )
    </insert>

    <!-- 거래취소 > ChatRoom status 변경 (ENDED) -->
    <!-- 거래완료 > ChatRoom status 변경 (ENDED) -->
    <update id="updateChatRoomStatusEnded">
        UPDATE CHAT_ROOM SET status = 'ENDED' WHERE id = #{chatRoomId}
    </update>

    <!-- 거래취소 > TradeSuggest status 변경 (CANCELED) -->
    <update id="updateTradeSuggestStatusCanceled">
        UPDATE TRADE_SUGGEST
        SET    status     = 'CANCELED'
             , updated_at = CURRENT_TIMESTAMP
        WHERE id = #{suggestId}
    </update>

    <!-- 내 활동 > 채팅 > 채팅방 > 거래완료 > TradeCompleteHistory 저장 -->
    <insert id="insertTradeCompleteHistory">
        INSERT INTO TRADE_COMPLETE_HISTORY (
               chat_room_id
             , trade_id
             , trade_item_id
             , trade_suggest_id
             , gacha_id
             , seller_id
             , buyer_id
             , completed_at
        )
        VALUES (
               #{chatRoomId}
             , #{tradeId}
             , #{tradeItemId}
             , #{tradeSuggestId}
             , #{gachaId}
             , #{sellerId}
             , #{buyerId}
             , #{completedAt}
        )
    </insert>

    <!-- 내 활동 > 채팅 > 채팅방 > 거래완료 > TradeSuggest status 변경 (COMPLETED) -->
    <update id="updateTradeSuggestStatusCompleted">
        UPDATE TRADE_SUGGEST
        SET
               status     = 'COMPLETED'
             , updated_at = CURRENT_TIMESTAMP
        WHERE id = #{tradeSuggestId}
    </update>

    <!-- 내 활동 > 채팅 > 채팅방 > 거래완료 > 나머지 TradeSuggest의 status 변경 (REJECTED) -->
    <update id="updateRestTradeSuggestStatusRejected">
        UPDATE TRADE_SUGGEST
        SET
               status     = 'REJECTED'
             , updated_at = CURRENT_TIMESTAMP
        WHERE trade_item_id = #{tradeItemId}
         AND  id           != #{tradeSuggestId}
    </update>

    <!-- 내 활동 > 채팅 > 채팅방 > 거래완료 > TradeItem status 변경 (COMPLETED) -->
    <update id="updateTradeItemStatusCompleted">
        UPDATE TRADE_ITEM
        SET
               status     = 'COMPLETED'
             , updated_at = CURRENT_TIMESTAMP
        WHERE id = #{tradeItemId}
    </update>

    <!-- 내 활동 > 채팅 > 채팅방 > 거래완료 > Trade 하위에 status가 PENDING인 TradeItem 존재 여부 확인 -->
    <select id="selectTradeItemStatusPendingChk">
        SELECT EXISTS (
            SELECT 1 FROM TRADE_ITEM
            WHERE trade_id = #{tradeId}
             AND  status   = 'PENDING'
        )
    </select>

    <!-- 내 활동 > 채팅 > 채팅방 > 거래완료 > Trade status 변경 (COMPLETED) -->
    <update id="updateTradeStatusCompleted">
        UPDATE TRADE
        SET
               status     = 'COMPLETED'
             , updated_at = CURRENT_TIMESTAMP
        WHERE id = #{tradeId}
    </update>
</mapper>