<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.account.login.mapper.LoginMapper">
    <!-- 로그인 > User 조회 -->
    <select id="selectUserByEmail" resultType="com.moira.itda.global.entity.User">
        SELECT
               id
             , role
             , status
             , email
             , password
             , name
             , nickname
             , phone_number
             , ci
             , file_id
             , refresh_token
             , last_login_at
             , created_at
             , updated_at
        FROM USER
        WHERE email = #{email}
    </select>

    <!-- 로그인 > 계정 정지 기한 조회 -->
    <select id="selectBannedUntil" resultType="java.time.ZonedDateTime">
        SELECT banned_until FROM USER_BAN_HISTORY WHERE user_id = #{userId}
    </select>

    <!-- 로그인 > RefreshToken 수정 -->
    <update id="updateRefreshToken">
        UPDATE USER
        SET
               refresh_token = #{rtk}
             , last_login_at = CURRENT_TIMESTAMP
             , updated_at    = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>

    <!-- 로그인 > LoginHistory 저장 -->
    <insert id="insertUserLoginHistory">
        INSERT INTO USER_LOGIN_HISTORY (
               user_id
             , success_yn
             , ip_address
             , user_agent
             , fail_reason
             , login_at
        )
        VALUES (
               #{userId}
             , #{successYn}
             , #{ipAddress}
             , #{userAgent}
             , #{failReason}
             , #{loginAt}
        )
    </insert>
</mapper>