<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.user_temp.mysuggest.mapper.MySuggestMapper">
    <!-- 마이페이지 > 내 거래 목록 > 제안 > 거래제안 목록 조회 > totalElements 계산 -->
    <select id="selectTradeSuggestListCnt">
        SELECT COUNT(id) FROM TRADE_SUGGEST WHERE user_id = #{userId}
    </select>

    <!-- 마이페이지 > 내 거래 목록 > 제안 > 거래제안 목록 조회 -->
    <select id="selectTradeSuggestList" resultType="com.moira.itda.domain.user_temp.mysuggest.dto.response.MySuggestResponse">
        SELECT DISTINCT
               T.id                AS trade_id
             , T.status            AS trade_status
             , T.type
             , T.user_id
             , U.nickname          AS user_nickname
             , T.file_id
             , (SELECT file_url FROM IMAGE_FILE WHERE file_id = T.file_id ORDER BY created_at ASC LIMIT 1) AS file_url
             , T.created_at        AS trade_created_at
             , TS.gacha_id
             , TS.id               AS suggest_id
             , TS.status           AS suggest_status
             , TS.content          AS suggest_content
             , TS.created_at       AS suggest_created_at
             , TS.purchase_item_id AS purchase_gacha_item_id
             , (SELECT name FROM GACHA_ITEM WHERE id = TS.purchase_item_id)           AS purchase_gacha_item_name
             , TS.purchase_count
             , TS.purchase_discount_yn
             , TS.purchase_discount_price
             , TS.exchange_seller_item_id
             , (SELECT name FROM GACHA_ITEM WHERE id = TS.exchange_seller_item_id)    AS exchange_seller_item_name
             , TS.exchange_suggested_item_id
             , (SELECT name FROM GACHA_ITEM WHERE id = TS.exchange_suggested_item_id) AS exchange_suggested_item_name
             , TS.exchange_change_yn
        FROM TRADE_SUGGEST TS
        INNER JOIN TRADE T       ON T.id      = TS.trade_id
        INNER JOIN USER U        ON U.id      = T.user_id
        WHERE TS.user_id = #{userId}
        ORDER BY TS.created_at DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 마이페이지 > 내 거래 목록 > 제안 > 거래제안 취소 > status 조회 -->
    <select id="selectTradeSuggestStatus" resultType="java.lang.String">
        SELECT status FROM TRADE_SUGGEST
        WHERE id = #{suggestId} AND user_id = #{userId}
    </select>

    <!-- 마이페이지 > 내 거래 목록 > 제안 > 거래제안 취소 > status 변경 (CANCELED) -->
    <update id="updateTradeSuggestStatusCanceled">
        UPDATE TRADE_SUGGEST
        SET
               status     = 'CANCELED'
             , updated_at = CURRENT_TIMESTAMP
        WHERE id = #{suggestId} AND user_id = #{userId}
    </update>

    <!-- 마이페이지 > 내 거래 목록 > 제안 > 거래제안 삭제 > TradeSuggest 삭제 -->
    <delete id="deleteTradeSuggest">
        DELETE FROM TRADE_SUGGEST
        WHERE id = #{suggestId} AND user_id = #{userId}
    </delete>
</mapper>