<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.user.mytradesuggest.mapper.MyTradeSuggestMapper">
    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 목록 조회 > 거래 type 조회 -->
    <select id="selectTradeType" resultType="java.lang.String">
        SELECT type FROM TRADE WHERE id = #{tradeId}
    </select>

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 목록 조회 > 구매 제안 목록 조회 > totalElements 계산 -->
    <select id="selectTradePurchaseSuggestListCnt">
        SELECT COUNT(id) FROM TRADE_PURCHASE_SUGGEST
        WHERE trade_id = #{tradeId}
    </select>

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 목록 조회 > 구매 제안 목록 조회 -->
    <select id="selectTradePurchaseSuggestList">
        SELECT
               PS.id AS suggestId
             , PS.trade_id
             , PS.gacha_id
             , PS.gacha_item_id
             , GI.name AS gachaItemName
             , PS.status
             , PS.content
             , PS.count
             , PS.discount_yn
             , PS.discount_price
             , PS.created_at
        FROM TRADE_PURCHASE_SUGGEST PS
        LEFT JOIN GACHA_ITEM GI
         ON GI.gacha_id = PS.gacha_id AND GI.id = PS.gacha_item_id
        WHERE PS.trade_id = #{tradeId}
         AND PS.status != 'CANCELED'
        ORDER BY PS.created_at DESC
    </select>

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 목록 조회 > 교환 제안 목록 조회 > totalElements 계산 -->
    <select id="selectTradeExchangeSuggestListCnt">
        SELECT COUNT(id) FROM TRADE_EXCHANGE_SUGGEST
        WHERE trade_id = #{tradeId}
    </select>

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 목록 조회 > 교환 제안 목록 조회 -->
    <select id="selectTradeExchangeSuggestList">
        SELECT
               ES.id AS suggestId
             , ES.trade_id
             , ES.gacha_id
             , ES.status
             , ES.seller_item_id
             , (SELECT name FROM GACHA_ITEM WHERE gacha_id = ES.gacha_id AND id = ES.seller_item_id) AS sellerItemName
             , ES.change_yn
             , ES.suggested_item_id
             , (SELECT name FROM GACHA_ITEM WHERE gacha_id = ES.gacha_id AND id = ES.suggested_item_id) AS sellerItemName
             , ES.content
             , ES.created_at
        FROM TRADE_EXCHANGE_SUGGEST ES
        WHERE ES.trade_id = #{tradeId}
         AND ES.status != 'CANCELED'
        ORDER BY ES.created_at DESC
    </select>

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 승인 > 구매 제안 승인 -->
    <update id="updateTradePurchaseSuggestStatusApproved">
        UPDATE TRADE_PURCHASE_SUGGEST
        SET
               status = 'APPROVED'
             , updated_at = CURRENT_TIMESTAMP
        WHERE trade_id = #{tradeId} AND id = #{suggestId}
    </update>

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 승인 > 교환 제안 승인 -->
    <update id="updateTradeExchangeSuggestStatusApproved">
        UPDATE TRADE_EXCHANGE_SUGGEST
        SET
               status = 'APPROVED'
             , updated_at = CURRENT_TIMESTAMP
        WHERE trade_id = #{tradeId} AND id = #{suggestId}
    </update>

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 승인 > 구매 제안 유저 ID 조회 -->
    <select id="selectTradePurchaseSuggestUserId">
        SELECT user_id FROM TRADE_PURCHASE_SUGGEST WHERE id = #{suggestId}
    </select>

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 승인 > 교환 제안 유저 ID 조회 -->
    <select id="selectTradeExchangeSuggestUserId">
        SELECT user_id FROM TRADE_EXCHANGE_SUGGEST WHERE id = #{suggestId}
    </select>

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 승인 > ChatRoom 저장 -->
    <insert id="insertChatRoom">
        INSERT INTO CHAT_ROOM (
               id
             , trade_id
             , seller_id
             , buyer_id
             , status
             , created_at
        )
        VALUES (
               #{id}
             , #{tradeId}
             , #{sellerId}
             , #{buyerId}
             , #{status}
             , #{createdAt}
        )
    </insert>

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 승인 > ChatMessage 저장 -->
    <insert id="insertChatMessage">
        INSERT INTO CHAT_MESSAGE (
               chat_room_id
             , sender_id
             , message
             , created_at
        )
        VALUES (
               #{chatRoomId}
             , #{senderId}
             , #{message}
             , #{createdAt}
        )
    </insert>

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 거절 > 구매 제안 거절 -->
    <update id="updateTradePurchaseSuggestStatusRejected">
        UPDATE TRADE_PURCHASE_SUGGEST
        SET
               status = 'REJECTED'
             , updated_at = CURRENT_TIMESTAMP
        WHERE trade_id = #{tradeId} AND id = #{suggestId}
    </update>

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 거절 > 교환 제안 거절 -->
    <update id="updateTradeExchangeSuggestStatusRejected">
        UPDATE TRADE_EXCHANGE_SUGGEST
        SET
               status = 'REJECTED'
             , updated_at = CURRENT_TIMESTAMP
        WHERE trade_id = #{tradeId} AND id = #{suggestId}
    </update>
</mapper>