<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.user_temp.mytradesuggest.mapper.MyTradeSuggestMapper">

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 승인 > status 변경 (APPROVED) -->
    <update id="updateTradeSuggestStatusApproved">
        UPDATE TRADE_SUGGEST
        SET
               status     = 'APPROVED'
             , updated_at = CURRENT_TIMESTAMP
        WHERE trade_id = #{tradeId}
         AND  id      = #{suggestId}
    </update>

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 승인 > 제안한 유저의 ID 조회 -->
    <select id="selectTradeSuggestUserId">
        SELECT user_id FROM TRADE_SUGGEST
        WHERE trade_id = #{tradeId} AND id = #{suggestId}
    </select>

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 승인 > ChatRoom 저장 -->
    <insert id="insertChatRoom">
        INSERT INTO CHAT_ROOM (
               id
             , trade_id
             , trade_item_id
             , trade_suggest_id
             , seller_id
             , buyer_id
             , status
             , created_at
        )
        VALUES (
               #{id}
             , #{tradeId}
             , #{tradeItemId}
             , #{tradeSuggestId}
             , #{sellerId}
             , #{buyerId}
             , #{status}
             , #{createdAt}
        )
    </insert>

    <!-- 마이페이지 > 내 거래 목록 조회 > 제안 목록 모달 > 제안 거절 > status 변경 (REJECTED) -->
    <update id="updateTradeSuggestStatusRejected">
        UPDATE TRADE_SUGGEST
        SET
               status     = 'REJECTED'
             , updated_at = CURRENT_TIMESTAMP
        WHERE trade_id = #{tradeId}
         AND  id       = #{suggestId}
    </update>
</mapper>