<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.user.signup.mapper.SignupMapper">
    <!-- 회원가입 > 닉네임 중복 확인 -->
    <select id="selectNicknameChk">
        SELECT COUNT(id) FROM USER WHERE nickname = #{nickname}
    </select>

    <!-- 회원가입 > 이메일 중복 확인 -->
    <select id="selectEmailChk">
        SELECT COUNT(id) FROM USER WHERE email = #{email}
    </select>

    <!-- 회원가입 > User 저장 -->
    <insert id="insertUser">
        INSERT INTO ITDA.USER (
               id
             , role
             , status
             , email
             , password
             , name
             , nickname
             , image_url
             , refresh_token
             , last_login_at
             , created_at
             , updated_at
        )
        VALUES (
               #{id}
             , #{role}
             , #{status}
             , #{email}
             , #{password}
             , #{name}
             , #{nickname}
             , #{imageUrl}
             , #{refreshToken}
             , #{lastLoginAt}
             , #{createdAt}
             , #{updatedAt}
        )
    </insert>
</mapper>