<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.user_activity_suggest.mapper.UserActivitySuggestMapper">
    <!-- 내 활동 > 제안 > 제안취소 > TradeSuggest 조회 -->
    <select id="selectTradeSuggestInfo" resultType="java.util.HashMap">
        SELECT status, user_id FROM TRADE_SUGGEST
        WHERE id = #{suggestId}
    </select>

    <!-- 내 활동 > 제안 > 제안취소 > TradeSuggest status 변경 (CANCELED_BEFORE_RESPONSE) -->
    <update id="updateTradeSuggestStatusCBR">
        UPDATE TRADE_SUGGEST
        SET
               status     = 'CANCELED_BEFORE_RESPONSE'
             , updated_at = CURRENT_TIMESTAMP
        WHERE id = #{suggestId}
    </update>

    <!-- 내 활동 > 제안 > 제안삭제 > TradeSuggest status 변경 (DELETED) -->
    <update id="updateTradeSuggestStatusDeleted">
        UPDATE TRADE_SUGGEST
        SET
               status     = 'DELETED'
             , updated_at = CURRENT_TIMESTAMP
        WHERE id = #{suggestId}
    </update>
</mapper>