<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.user.mapper.UserMapper">
    <!-- 회원가입 > 닉네임 중복 확인 -->
    <select id="selectNicknameChk">
        SELECT COUNT(id) FROM USER WHERE nickname = #{nickname}
    </select>

    <!-- 회원가입 > 이메일 중복 확인 -->
    <select id="selectEmailChk">
        SELECT COUNT(id) FROM USER WHERE email = #{email}
    </select>

    <!-- 회원가입 > 본인인증 > UserSignupIdentifyCode 저장 -->
    <insert id="insertUserSignupIdentifyCode">
        INSERT INTO USER_SIGNUP_IDENTIFY_CODE (
               email
             , code
             , expired_at
        )
        VALUES (
               #{email}
             , #{code}
             , #{expiredAt}
        )
    </insert>

    <!-- 회원가입 > 본인인증 > UserSignupIdentifyCode 조회 -->
    <select id="selectUserSignupIdentifyCode" resultType="com.moira.itda.global.entity.UserSignupIdentifyCode">
        SELECT
               id
             , email
             , code
             , expired_at
        FROM USER_SIGNUP_IDENTIFY_CODE
        WHERE email = #{email}
        ORDER BY expired_at DESC
        LIMIT 1
    </select>

    <!-- 회원가입 > User 저장 -->
    <insert id="insertUser">
        INSERT INTO ITDA.USER (
               id
             , role
             , status
             , email
             , password
             , name
             , nickname
             , file_id
             , refresh_token
             , last_login_at
             , created_at
             , updated_at
        )
        VALUES (
               #{id}
             , #{role}
             , #{status}
             , #{email}
             , #{password}
             , #{name}
             , #{nickname}
             , #{fileId}
             , #{refreshToken}
             , #{lastLoginAt}
             , #{createdAt}
             , #{updatedAt}
        )
    </insert>

    <!-- 스케쥴러 (30분 간격) > UserSignupIdentifyCode 삭제 -->
    <delete id="deleteUserSignupIdentifyCode">
        DELETE FROM USER_SIGNUP_IDENTIFY_CODE
        WHERE expired_at <![CDATA[ < ]]> CURRENT_TIMESTAMP
    </delete>
</mapper>