<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.user_token_refresh.mapper.UserTokenRefreshMapper">
    <!-- 토큰 재발급 > User 조회 -->
    <select id="selectUserByEmail" resultType="com.moira.itda.global.entity.User">
        SELECT
               id
             , role
             , status
             , email
             , password
             , name
             , nickname
             , phone_number
             , ci
             , file_id
             , refresh_token
             , last_login_at
             , created_at
             , updated_at
        FROM USER
        WHERE id = #{userId}
    </select>

    <!-- 토큰 재발급 > RefreshToken 수정 -->
    <update id="updateRefreshToken">
        UPDATE USER
        SET
               refresh_token = #{rtk}
             , updated_at    = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>
</mapper>