<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.user_reset_password.mapper.UserResetPasswordMapper">
    <!-- 비밀번호 초기화 > name, ci값 유효 여부 조회 -->
    <select id="selectUserIdentifyCodeChk">
        SELECT EXISTS (
            SELECT 1 FROM USER_IDENTIFY_CODE
            WHERE phone_number = #{phoneNumber}
             AND  type         = #{type}
             AND  name         = #{name}
             AND  ci           = #{ci}
             AND  expired_at   > CURRENT_TIMESTAMP
        )
    </select>

    <!-- 비밀번호 초기화 -->
    <update id="updatePasswordByPhoneNumber">
        UPDATE USER
        SET
               password    = #{newPassword}
             , updated_at  = CURRENT_TIMESTAMP
        WHERE phone_number = #{phoneNumber}
         AND  name         = #{name}
         AND  ci           = #{ci}
    </update>
</mapper>