<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.user.mapper.UserMapper">
    <!-- 회원가입 > 닉네임 중복 확인 -->
    <select id="selectNicknameChk" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1 FROM USER WHERE nickname = #{nickname}
        )
    </select>

    <!-- 회원가입 > 이메일 중복 확인 -->
    <select id="selectEmailChk" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1 FROM USER WHERE email = #{email}
        )
    </select>

    <!-- 회원가입 > 본인인증 > UserIdentifyCode 저장 -->
    <insert id="insertUserIdentifyCode">
        INSERT INTO USER_IDENTIFY_CODE (
               email
             , code
             , type
             , expired_at
        )
        VALUES (
               #{email}
             , #{code}
             , #{type}
             , #{expiredAt}
        )
    </insert>

    <!-- 회원가입 > 본인인증 > UserIdentifyCode 조회 -->
    <select id="selectUserIdentifyCode" resultType="com.moira.itda.global.entity.UserIdentifyCode">
        SELECT
               id
             , email
             , code
             , type
             , expired_at
        FROM USER_IDENTIFY_CODE
        WHERE email = #{email} AND type = #{type}
        ORDER BY expired_at DESC
        LIMIT 1
    </select>

    <!-- 회원가입 > User 저장 -->
    <insert id="insertUser">
        INSERT INTO ITDA.USER (
               id
             , role
             , status
             , email
             , password
             , name
             , nickname
             , file_id
             , refresh_token
             , last_login_at
             , created_at
             , updated_at
        )
        VALUES (
               #{id}
             , #{role}
             , #{status}
             , #{email}
             , #{password}
             , #{name}
             , #{nickname}
             , #{fileId}
             , #{refreshToken}
             , #{lastLoginAt}
             , #{createdAt}
             , #{updatedAt}
        )
    </insert>

    <!-- 로그인 > User 조회 -->
    <!-- 토큰 재발급 > User 조회 -->
    <select id="selectUserByEmail" resultType="com.moira.itda.global.entity.User">
        SELECT
               id
             , role
             , status
             , email
             , password
             , name
             , nickname
             , file_id
             , refresh_token
             , last_login_at
             , created_at
             , updated_at
        FROM USER
        WHERE email = #{email}
    </select>

    <!-- 로그인 > 계정 정지 기한 조회 -->
    <select id="selectBannedUntil" resultType="java.time.ZonedDateTime">
        SELECT banned_until FROM USER_BAN_HISTORY WHERE user_id = #{userId}
    </select>

    <!-- 로그인 > RefreshToken 수정 -->
    <!-- 토큰 재발급 > RefreshToken 수정 -->
    <update id="updateRefreshToken">
        UPDATE USER
        SET
               refresh_token = #{rtk}
             , last_login_at = CURRENT_TIMESTAMP
             , updated_at    = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>

    <!-- 로그인 > LoginHistory 저장 -->
    <insert id="insertUserLoginHistory">
        INSERT INTO USER_LOGIN_HISTORY (
               user_id
             , success_yn
             , ip_address
             , user_agent
             , login_at
        )
        VALUES (
               #{userId}
             , #{successYn}
             , #{ipAddress}
             , #{userAgent}
             , #{loginAt}
        )
    </insert>

    <!-- 로그아웃 > RefreshToken 초기화 -->
    <update id="updateRefreshTokenNull">
        UPDATE USER
        SET    refresh_token = NULL
             , updated_at    = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>

    <!-- 비밀번호 초기화 -->
    <update id="updatePasswordByEmail">
        UPDATE USER
        SET
               password   = #{newPassword}
             , updated_at = CURRENT_TIMESTAMP
        WHERE email = #{email}
    </update>

    <!-- 마이페이지 > 내 프로필 조회 -->
    <select id="selectMyPageResponse" resultType="com.moira.itda.domain.user.dto.response.MyPageResponse">
        SELECT
               U.id AS user_id
             , U.role
             , U.status
             , U.email
             , U.name
             , U.nickname
             , U.file_id
             , (SELECT file_url FROM IMAGE_FILE WHERE file_id = U.file_id ORDER BY created_at DESC LIMIT 1) AS image_file_url
             , U.last_login_at
             , U.created_at
        FROM USER U
        WHERE U.id = #{userId}
    </select>

    <!-- 마이페이지 > 프로필 사진 변경 > 현재 프로필 사진의 URL 조회 -->
    <select id="selectCurrentFileUrl" resultType="java.lang.String">
        SELECT file_url
        FROM IMAGE_FILE
        WHERE file_id = (SELECT file_id FROM USER WHERE id = #{userId})
        ORDER BY created_At DESC
        LIMIT 1
    </select>

    <!-- 마이페이지 > 프로필 사진 변경 > 파일 ID 수정 -->
    <update id="updateFileId">
        UPDATE USER
        SET
               file_id    = #{newFileId}
             , updated_at = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>

    <!-- 마이페이지 > 닉네임 변경 -->
    <update id="updateNickname">
        UPDATE USER
        SET
               nickname   = #{newNickname}
             , updated_at = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>

    <!-- 마이페이지 > 비밀번호 변경 > 현재 비밀번호 조회 -->
    <select id="selectCurrentPassword" resultType="java.lang.String">
        SELECT password FROM USER WHERE id = #{userId}
    </select>

    <!-- 마이페이지 > 비밀번호 변경 -->
    <update id="updatePassword">
        UPDATE USER
        SET
               password   = #{newPassword}
             , updated_at = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>

    <!-- 스케쥴러 (30분 간격) > UserIdentifyCode 삭제 -->
    <delete id="deleteUserIdentifyCode">
        DELETE FROM USER_IDENTIFY_CODE
        WHERE expired_at <![CDATA[ < ]]> CURRENT_TIMESTAMP
    </delete>
</mapper>