<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.user_activity_completed_trade.mapper.UserActivityCompletedTradeMapper">
    <!-- 완료된 거래목록 조회 > totalElements 계산 -->
    <select id="selectCompletedTradeListCnt">
        SELECT COUNT(id) FROM TRADE_COMPLETE_HISTORY
        WHERE seller_id = #{userId} OR buyer_id = #{userId}
    </select>

    <!-- 완료된 거래목록 조회 -->
    <select id="selectCompletedTradeList" resultType="com.moira.itda.domain.user_activity_completed_trade.dto.response.CompletedTradeResponse">
        SELECT
               CH.trade_id
             , CH.trade_item_id
             , CH.trade_suggest_id
             , CASE WHEN CH.seller_id = #{userId}
                    THEN CH.buyer_id
                    ELSE CH.seller_id
               END AS opponent_user_id
             , U.nickname AS opponent_user_nickname
             , CASE WHEN CH.seller_id = #{userId}
                    THEN TI.type
                    ELSE TS.type
               END AS type
             , CH.gacha_id
             , G.title   AS gacha_title
             , TS.purchase_item_id
             , GI_P.name AS purchase_item_name
             , TS.purchase_original_price
             , TS.purchase_discount_yn
             , TS.purchase_discount_price
             , TS.exchange_seller_item_id
             , GI_E1.name AS exchange_item_name
             , TS.exchange_original_item_id
             , TS.exchange_suggested_item_id
             , GI_E2.name AS exchange_suggested_item_name
             , TS.exchange_change_yn
             , CH.completed_at AS trade_completed_at
             , CASE WHEN TUC.id IS NOT NULL THEN 'Y' ELSE 'N' END AS compliment_yn
        FROM TRADE_COMPLETE_HISTORY CH
         INNER JOIN TRADE_ITEM            TI    ON TI.id    = CH.trade_item_id
         INNER JOIN TRADE_SUGGEST         TS    ON TS.id    = CH.trade_suggest_id
         INNER JOIN GACHA                 G     ON G.id     = CH.gacha_id
         INNER JOIN USER                  U     ON U.id     = (CASE WHEN CH.seller_id = #{userId} THEN CH.buyer_id ELSE CH.seller_id END)
         LEFT JOIN  GACHA_ITEM            GI_P  ON GI_P.id  = TS.purchase_item_id
         LEFT JOIN  GACHA_ITEM            GI_E1 ON GI_E1.id = TS.exchange_seller_item_id
         LEFT JOIN  GACHA_ITEM            GI_E2 ON GI_E2.id = TS.exchange_suggested_item_id
         LEFT JOIN  TRADE_USER_COMPLIMENT TUC   ON TUC.trade_suggest_id = CH.trade_suggest_id AND TUC.compliment_user_id = #{userId}
        WHERE CH.seller_id = #{userId} OR buyer_id = #{userId}
    </select>

    <!-- 유저칭찬 > 칭찬 여부 조회 (TradeSuggest 기준) -->
    <select id="selectTradeUserComplimentChk" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1 FROM TRADE_USER_COMPLIMENT
            WHERE compliment_user_id = #{userId}
             AND  trade_suggest_id   = #{tradeSuggestId}
        )
    </select>

    <!-- 유저칭찬 > TradeUserCompliment 저장 -->
    <insert id="insertTradeUserCompliment">
        INSERT INTO TRADE_USER_COMPLIMENT (
               trade_id
             , trade_item_id
             , trade_suggest_id
             , compliment_user_id
             , complimented_user_id
             , compliment_at
        )
        VALUES (
               #{tradeId}
             , #{tradeItemId}
             , #{tradeSuggestId}
             , #{complimentUserId}
             , #{complimentedUserId}
             , #{complimentAt}
        )
    </insert>
</mapper>