<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.suggest.mapper.SuggestMapper">
    <!-- 구매제안 > TradeItem status 조회 -->
    <!-- 교환제안 > TradeItem status 조회 -->
    <select id="selectTradeItemStatus" resultType="java.lang.String">
        SELECT status FROM TRADE_ITEM where id = #{tradeItemId}
    </select>

    <!-- 구매제안 > 구매제안 여부 확인 -->
    <select id="selectTradeSuggestPurchaseChk" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1 FROM TRADE_SUGGEST
            WHERE trade_id         = #{tradeId}
             AND  trade_item_id    = #{tradeItemId}
             AND  user_id          = #{userId}
             AND  status          IN ('PENDING', 'APPROVED')
             AND  purchase_item_id = #{purchaseItemId}
        )
    </select>

    <!-- 교환제안 > 교환제안 여부 확인 -->
    <select id="selectTradeSuggestExchangeChk" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1 FROM TRADE_SUGGEST
            WHERE trade_id                   = #{tradeId}
             AND  trade_item_id              = #{tradeItemId}
             AND  user_id                    = #{userId}
             AND  status                    IN ('PENDING', 'APPROVED')
             AND  exchange_seller_item_id    = #{exchangeSellerItemId}
             AND  exchange_suggested_item_id = #{exchangeSuggestedItemId}
        )
    </select>

    <!-- 구매제안 > TradeSuggest 저장 -->
    <!-- 교환제안 > TradeSuggest 저장 -->
    <insert id="insertTradeSuggest">
        INSERT INTO TRADE_SUGGEST (
               id
             , user_id
             , trade_id
             , trade_item_id
             , gacha_id
             , type
             , status
             , content
             , created_at
             , updated_at
             , purchase_item_id
             , purchase_original_price
             , purchase_discount_yn
             , purchase_discount_price
             , exchange_seller_item_id
             , exchange_original_item_id
             , exchange_suggested_item_id
             , exchange_change_yn
        )
        VALUES (
               #{id}
             , #{userId}
             , #{tradeId}
             , #{tradeItemId}
             , #{gachaId}
             , #{type}
             , #{status}
             , #{content}
             , #{createdAt}
             , #{updatedAt}
             , #{purchaseItemId}
             , #{purchaseOriginalPrice}
             , #{purchaseDiscountYn}
             , #{purchaseDiscountPrice}
             , #{exchangeSellerItemId}
             , #{exchangeOriginalItemId}
             , #{exchangeSuggestedItemId}
             , #{exchangeChangeYn}
        )
    </insert>
</mapper>