<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.suggest.mapper.SuggestMapper">
    <!-- 거래 아이템 목록 조회 -->
    <select id="selectTradeItemList" resultType="com.moira.itda.domain.suggest.dto.response.SuggestTradeItemResponse">
        SELECT
               TI.id                       AS trade_item_id
             , TI.trade_id
             , TI.gacha_id
             , TI.type
             , TI.status
             , TI.created_at
             , TI.updated_at
             , TI.sales_item_id
             , GI_S.name                   AS sales_item_name
             , TI.sales_price
             , TI.exchange_give_item_id
             , GI_E1.name                  AS exchange_give_item_name
             , TI.exchange_want_item_id
             , GI_E2.name                  AS exchange_want_item_name
        FROM TRADE_ITEM TI
         LEFT JOIN GACHA_ITEM GI_S  ON GI_S.id  = TI.sales_item_id
         LEFT JOIN GACHA_ITEM GI_E1 ON GI_E1.id = TI.exchange_give_item_id
         LEFT JOIN GACHA_ITEM GI_E2 ON GI_E2.id = TI.exchange_want_item_id
        WHERE TI.trade_id = #{tradeId}
         AND  TI.status   = 'PENDING'
        ORDER BY TI.created_at DESC
    </select>

    <!-- 구매제안 > TradeItem status 조회 -->
    <!-- 교환제안 > TradeItem status 조회 -->
    <select id="selectTradeItemStatus" resultType="java.lang.String">
        SELECT status FROM TRADE_ITEM where id = #{tradeItemId}
    </select>

    <!-- 구매제안 > 구매제안 여부 확인 -->
    <select id="selectTradeSuggestPurchaseChk" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1 FROM TRADE_SUGGEST
            WHERE trade_id         = #{tradeId}
             AND  trade_item_id    = #{tradeItemId}
             AND  user_id          = #{userId}
             AND  status          IN ('PENDING', 'APPROVED')
             AND  purchase_item_id = #{purchaseItemId}
        )
    </select>

    <!-- 교환제안 > 교환제안 여부 확인 -->
    <select id="selectTradeSuggestExchangeChk" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1 FROM TRADE_SUGGEST
            WHERE trade_id                   = #{tradeId}
             AND  trade_item_id              = #{tradeItemId}
             AND  user_id                    = #{userId}
             AND  status                    IN ('PENDING', 'APPROVED')
             AND  exchange_seller_item_id    = #{exchangeSellerItemId}
             AND  exchange_suggested_item_id = #{exchangeSuggestedItemId}
        )
    </select>

    <!-- 구매제안 > TradeSuggest 저장 -->
    <!-- 교환제안 > TradeSuggest 저장 -->
    <insert id="insertTradeSuggest">
        INSERT INTO TRADE_SUGGEST (
               id
             , user_id
             , trade_id
             , trade_item_id
             , gacha_id
             , type
             , status
             , content
             , created_at
             , updated_at
             , purchase_item_id
             , purchase_original_price
             , purchase_discount_yn
             , purchase_discount_price
             , exchange_seller_item_id
             , exchange_original_item_id
             , exchange_suggested_item_id
             , exchange_change_yn
        )
        VALUES (
               #{id}
             , #{userId}
             , #{tradeId}
             , #{tradeItemId}
             , #{gachaId}
             , #{type}
             , #{status}
             , #{content}
             , #{createdAt}
             , #{updatedAt}
             , #{purchaseItemId}
             , #{purchaseOriginalPrice}
             , #{purchaseDiscountYn}
             , #{purchaseDiscountPrice}
             , #{exchangeSellerItemId}
             , #{exchangeOriginalItemId}
             , #{exchangeSuggestedItemId}
             , #{exchangeChangeYn}
        )
    </insert>
</mapper>