<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.suggest_temp.mapper.TradeSuggestMapper">
    <!-- 거래 제안 모달 > 구매 제안 > 구매 제안 존재 여부 확인 -->
    <!-- 거래 제안 모달 > 교환 제안 > 교환 제안 존재 여부 확인 -->
    <select id="selectTradeSuggestChk">
        SELECT COUNT(id) FROM TRADE_SUGGEST
        WHERE 1=1
         AND trade_id = #{tradeId}
         AND user_id  = #{userId}
         AND status  != 'CANCELED'
         AND status  != 'REJECTED'
        <choose>
            <when test='type == "PURCHASE"'>
                AND purchase_item_id = #{purchaseItemId}
            </when>
            <when test='type == "EXCHANGE"'>
                AND exchange_seller_item_id    = #{exchangeSellerItemId}
                AND exchange_suggested_item_id = #{exchangeSuggestedItemId}
            </when>
        </choose>
    </select>
</mapper>