<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.notification.mapper.NotificationMapper">
    <!-- 알림 전송 > Notification 저장 -->
    <insert id="insertNotification">
        INSERT INTO NOTIFICATION (
               receiver_id
             , sender_id
             , type
             , content
             , target_id
             , read_yn
             , created_at
        )
        VALUES (
               #{receiverId}
             , #{senderId}
             , #{type}
             , #{content}
             , #{targetId}
             , #{readYn}
             , #{createdAt}
        )
    </insert>

    <!-- 알림목록 조회 > totalElements 계산 -->
    <select id="selectNotificationListCnt" resultType="java.lang.Long">
        SELECT COUNT(id) FROM NOTIFICATION WHERE receiver_id = #{userId}
    </select>

    <!-- 알림목록 조회 -->
    <select id="selectNotificationList" resultType="com.moira.itda.domain.notification.dto.response.NotificationResponse">
        SELECT
               N.id          AS notification_id
             , N.sender_id
             , U.nickname    AS sender_nickname
             , N.type
             , N.content
             , N.target_id
             , N.read_yn
             , N.created_at
        FROM NOTIFICATION N
         INNER JOIN USER U ON U.id = N.sender_id
        WHERE N.receiver_id = #{userId}
        ORDER BY N.created_at DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 알림 읽음처리 -->
    <update id="updateNotificationReadYn">
        UPDATE NOTIFICATION SET read_yn = 'Y'
        WHERE receiver_id = #{userId} AND id = #{notificationId}
    </update>

    <!-- 읽은알림 삭제 -->
    <delete id="deleteReadNotificationList">
        DELETE FROM NOTIFICATION
        WHERE receiver_id = #{userId}
         AND  read_yn     = 'Y'
    </delete>

    <!-- 거래제안 알림 전송 > 거래제안 정보 조회 -->
    <select id="selectSuggestNotificationInfo" resultType="java.util.HashMap">
        SELECT
               U_R.id                              AS receiver_id
             , U_S.nickname                        AS sender_nickname
             , CONCAT(LEFT(G.title, 20), '...')    AS gacha_title
             , CONCAT(LEFT(T.title, 20), '...')    AS trade_title
        FROM TRADE_ITEM TI
         INNER JOIN TRADE T   ON T.id   = TI.trade_id
         INNER JOIN USER  U_R ON U_R.id = T.user_id
         INNER JOIN USER  U_S ON U_S.id = #{senderId}
         INNER JOIN GACHA G   ON G.id   = TI.gacha_id
        WHERE TI.id = #{tradeItemId}
    </select>

    <!-- 제안거절 알림 전송 > 거래제안 정보 조회 -->
    <!-- 제안승인 알림 전송 > 거래제안 정보 조회 -->
    <select id="selectTradeNotificationInfo" resultType="java.util.HashMap">
        SELECT
               U_R.id                              AS receiver_id
             , U_S.nickname                        AS sender_nickname
             , CONCAT(LEFT(G.title, 20), '...')    AS gacha_title
             , CONCAT(LEFT(T.title, 20), '...')    AS trade_title
        FROM TRADE_SUGGEST TS
         INNER JOIN TRADE T   ON T.id   = TS.trade_id
         INNER JOIN USER  U_R ON U_R.id = TS.user_id
         INNER JOIN USER  U_S ON U_S.id = #{senderId}
         INNER JOIN GACHA G   ON G.id   = TS.gacha_id
        WHERE TS.id = #{suggestId}
    </select>

    <!-- 거래취소 알림 전송 > 채팅방 정보 조회 -->
    <!-- 거래완료 알림 전송 > 채팅방 정보 조회 -->
    <select id="selectChatRoomNotificationInfo" resultType="java.util.HashMap">
        SELECT
               CASE WHEN CR.seller_id = #{senderId}
                    THEN CR.buyer_id
                    ELSE CR.seller_id
               END                                 AS receiver_id
             , U_S.nickname                        AS sender_nickname
             , CONCAT(LEFT(G.title, 20), '...')    AS gacha_title
             , CONCAT(LEFT(T.title, 20), '...')    AS trade_title
        FROM CHAT_ROOM CR
         INNER JOIN USER  U_S ON U_S.id = #{senderId}
         INNER JOIN TRADE T   ON T.id   = CR.trade_id
         INNER JOIN GACHA G   ON G.id   = T.gacha_id
        WHERE CR.id = #{chatRoomId}
    </select>

    <!-- 문의 답변 알림 전송 > 문의 정보 조회 -->
    <select id="sendSupportNotificationInfo" resultType="java.util.HashMap">
        SELECT
               user_id                          AS receiver_id
             , CONCAT(LEFT(content, 20), '...') AS support_title
        FROM USER_SUPPORT
        WHERE id = #{supportId}
    </select>
</mapper>