<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.notification.mapper.NotificationMapper">
    <!-- 알림 전송 > Notification 저장 -->
    <insert id="insertNotification">
        INSERT INTO NOTIFICATION (
               receiver_id
             , sender_id
             , type
             , content
             , target_id
             , read_yn
             , created_at
        )
        VALUES (
               #{receiverId}
             , #{senderId}
             , #{type}
             , #{content}
             , #{targetId}
             , #{readYn}
             , #{createdAt}
        )
    </insert>
</mapper>