<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.trade.common.mapper.TradeCommonMapper">
    <!-- 거래상세정보 조회 -->
    <select id="selectTradeDetail" resultType="com.moira.itda.domain.trade.common.dto.response.TradeDetailResponse">
        SELECT
               T.id          AS trade_id
             , T.gacha_id
             , T.type
             , T.status
             , T.title
             , T.content
             , T.file_id
             , NULL          AS file_url_list
             , T.hope_method
             , T.hope_location
             , T.hope_address
             , T.hope_location_latitude
             , T.hope_location_longitude
             , T.created_at
        FROM TRADE T
        WHERE id = #{tradeId}
    </select>

    <!-- Trade 조회 -->
    <select id="selectTrade" resultType="com.moira.itda.global.entity.Trade">
        SELECT
               id
             , gacha_id
             , user_id
             , type
             , status
             , title
             , content
             , file_id
             , hope_method
             , hope_location
             , hope_address
             , hope_location_latitude
             , hope_location_longitude
             , created_at
             , updated_at
        FROM TRADE
        WHERE id = #{tradeId}
    </select>

    <!-- COMPLETED인 TradeItem이 있는지 확인 -->
    <select id="selectTradeItemStatusCompletedChk" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1 FROM TRADE_ITEM
            WHERE trade_id = #{tradeId}
             AND  status   = 'COMPLETED'
        )
    </select>

    <!-- PENDING, APPROVED, COMPLETED인 TradeSuggest가 있는지 확인 -->
    <select id="selectTradeSuggestStatusChkByTradeId" resultType="java.util.HashMap">
        SELECT
               IFNULL(MAX(CASE WHEN status = 'PENDING'   THEN 1 ELSE 0 END), 0) AS pending_chk
             , IFNULL(MAX(CASE WHEN status = 'APPROVED'  THEN 1 ELSE 0 END), 0) AS approved_chk
             , IFNULL(MAX(CASE WHEN status = 'COMPLETED' THEN 1 ELSE 0 END), 0) AS completed_chk
        FROM TRADE_SUGGEST
        WHERE trade_id = #{tradeId}
    </select>
</mapper>