<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.trade.list.mapper.TradeListMapper">
    <!-- 거래목록 조회 > totalElements 계산 -->
    <select id="selectTradeListCnt">
        SELECT COUNT(T.id)
        FROM TRADE T
        <if test='placeId != null and placeId != ""'>
            INNER JOIN USER_PLACE P ON P.id = #{placeId}
        </if>
        WHERE T.gacha_id = #{gachaId}
            AND T.status != 'DELETED'
        <if test='placeId != null and placeId != ""'>
            AND T.hope_method = 'DIRECT'
            AND T.hope_location_latitude  BETWEEN P.latitude - 0.045 AND P.latitude + 0.045
            AND T.hope_location_longitude BETWEEN P.longitude - 0.06 AND P.longitude + 0.06
                AND (
                6371 * acos(
                      cos(radians(P.latitude))
                    * cos(radians(T.hope_location_latitude))
                    * cos(radians(T.hope_location_longitude) - radians(P.longitude))
                    + sin(radians(P.latitude))
                    * sin(radians(T.hope_location_latitude))
                )
            ) <![CDATA[ <= ]]> 5
        </if>
        <if test='onlyPending == "Y"'>
            AND T.status = 'PENDING'
        </if>
        <if test='gachaItemId != null and gachaItemId != ""'>
            AND EXISTS (
                SELECT 1 FROM TRADE_ITEM TI
                WHERE TI.trade_id = T.id
                 AND TI.status != 'DELETED'
                 AND (
                    (T.type = 'SALES' AND TI.sales_item_id = #{gachaItemId})
                    OR
                    (T.type = 'EXCHANGE' AND TI.exchange_give_item_id = #{gachaItemId})
                 )
            )
        </if>
    </select>

    <!-- 거래목록 조회 -->
    <select id="selectTradeList" resultType="com.moira.itda.domain.trade.list.dto.response.TradeListResponse">
        SELECT
               T.id AS trade_id
             , T.gacha_id
             , T.user_id
             , U.nickname AS user_nickname
             , T.type
             , T.status
             , T.title
             , T.content
             , T.file_id
             , (SELECT file_url FROM IMAGE_FILE WHERE file_id = T.file_id ORDER BY created_at LIMIT 1) AS file_url
             , T.hope_method
             , IFNULL(T.hope_location, T.hope_address) AS hope_direct_trade_location
             , (
                   SELECT COUNT(id) FROM TRADE_SUGGEST
                   WHERE trade_id = T.id
                    AND status NOT IN ('DELETED')
               ) AS suggest_count
             , T.created_at
        FROM TRADE T
        INNER JOIN USER U ON U.id = T.user_id
        <if test='placeId != null and placeId != ""'>
            INNER JOIN USER_PLACE P ON P.id = #{placeId}
        </if>
        WHERE T.gacha_id = #{gachaId}
            AND T.status != 'DELETED'
        <if test='placeId != null and placeId != ""'>
            AND T.hope_method = 'DIRECT'
            AND T.hope_location_latitude  BETWEEN P.latitude - 0.045 AND P.latitude + 0.045
            AND T.hope_location_longitude BETWEEN P.longitude - 0.06 AND P.longitude + 0.06
            AND (
                6371 * acos(
                      cos(radians(P.latitude))
                    * cos(radians(T.hope_location_latitude))
                    * cos(radians(T.hope_location_longitude) - radians(P.longitude))
                    + sin(radians(P.latitude))
                    * sin(radians(T.hope_location_latitude))
                )
            ) <![CDATA[ <= ]]> 5
        </if>
        <if test='onlyPending == "Y"'>
            AND T.status = 'PENDING'
        </if>
        <if test='gachaItemId != null and gachaItemId != ""'>
            AND EXISTS (
                SELECT 1 FROM TRADE_ITEM TI
                WHERE TI.trade_id = T.id
                 AND TI.status != 'DELETED'
                 AND (
                     (T.type = 'SALES' AND TI.sales_item_id = #{gachaItemId})
                     OR
                     (T.type = 'EXCHANGE' AND TI.exchange_give_item_id = #{gachaItemId})
                 )
            )
        </if>
        ORDER BY T.created_at DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 거래목록 조회 > 거래아이템 목록 조회 -->
    <select id="selectTradeItemList" resultType="com.moira.itda.domain.trade.list.dto.response.TradeItemResponse">
        SELECT
               TI.id                       AS trade_item_id
             , TI.trade_id
             , TI.gacha_id
             , TI.type
             , TI.status
             , TI.created_at
             , TI.updated_at
             , TI.sales_item_id
             , GI_S.name                   AS sales_item_name
             , TI.sales_price
             , TI.exchange_give_item_id
             , GI_E1.name                  AS exchange_give_item_name
             , TI.exchange_want_item_id
             , GI_E2.name                  AS exchange_want_item_name
        FROM TRADE_ITEM TI
         LEFT JOIN GACHA_ITEM GI_S  ON GI_S.id  = TI.sales_item_id
         LEFT JOIN GACHA_ITEM GI_E1 ON GI_E1.id = TI.exchange_give_item_id
         LEFT JOIN GACHA_ITEM GI_E2 ON GI_E2.id = TI.exchange_want_item_id
        WHERE TI.trade_id = #{tradeId}
        AND TI.status != 'DELETED'
        ORDER BY TI.created_at DESC
    </select>

    <!-- 내 거래목록 조회 > totalElements 계산 -->
    <select id="selectMyTradeListCnt">
        SELECT COUNT(id) FROM TRADE WHERE user_id = #{userId} AND type = #{type}
    </select>

    <!-- 내 거래목록 조회 -->
    <select id="selectMyTradeList" resultType="com.moira.itda.domain.trade.list.dto.response.TradeListResponse">
        SELECT
               T.id         AS trade_id
             , T.gacha_id
             , T.user_id
             , ''           AS user_nickname
             , T.type
             , T.status
             , T.title
             , T.content
             , T.file_id
             , (SELECT file_url FROM IMAGE_FILE WHERE file_id = T.file_id ORDER BY created_at LIMIT 1) AS file_url
             , T.hope_method
             , IFNULL(T.hope_location, T.hope_address) AS hope_direct_trade_location
             , (
                   SELECT COUNT(id) FROM TRADE_SUGGEST
                   WHERE trade_id = T.id
                    AND status NOT IN ('DELETED')
               ) AS suggest_count
             , T.created_at
        FROM TRADE T
        WHERE user_id = #{userId}
         AND  type    = #{type}
         AND  status != 'DELETED'
        ORDER BY created_at DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
</mapper>