<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.trade.mapper.TradeMapper">
    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 교환 > 진행 중인 교환글 존재 여부 확인 -->
    <select id="selectTradeExchangeChk">
        SELECT COUNT(id) FROM TRADE
        WHERE gacha_id = #{gachaId}
         AND  user_id  = #{userId}
         AND  status   = 'PENDING'
         AND  type     = 'EXCHANGE'
    </select>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 판매 > 진행 중인 판매글 존재 여부 확인 -->
    <select id="selectTradeSalesChk">
        SELECT COUNT(id) FROM TRADE
        WHERE gacha_id = #{gachaId}
         AND   user_id = #{userId}
         AND   status  = 'PENDING'
         AND   type    = 'SALES'
    </select>

    <!-- 교환등록 > Trade 저장 -->
    <insert id="insertTrade">
        INSERT INTO TRADE (
               id
             , gacha_id
             , user_id
             , type
             , status
             , title
             , content
             , file_id
             , hope_method
             , hope_location
             , hope_address
             , hope_location_latitude
             , hope_location_longitude
             , created_at
             , updated_at
        )
        VALUES (
               #{id}
             , #{gachaId}
             , #{userId}
             , #{type}
             , #{status}
             , #{title}
             , #{content}
             , #{fileId}
             , #{hopeMethod}
             , #{hopeLocation}
             , #{hopeAddress}
             , #{hopeLocationLatitude}
             , #{hopeLocationLongitude}
             , #{createdAt}
             , #{updatedAt}
        )
    </insert>

    <!-- 교환등록 > TradeItem 저장 -->
    <insert id="insertTradeItem">
        INSERT INTO TRADE_ITEM (
               id
             , trade_id
             , gacha_id
             , type
             , status
             , created_at
             , updated_at
             , sales_item_id
             , sales_count
             , sales_current_count
             , sales_price
             , exchange_give_item_id
             , exchange_want_item_id
        )
        VALUES (
               #{id}
             , #{tradeId}
             , #{gachaId}
             , #{type}
             , #{status}
             , #{createdAt}
             , #{updatedAt}
             , #{salesItemId}
             , #{salesCount}
             , #{salesCurrentCount}
             , #{salesPrice}
             , #{exchangeGiveItemId}
             , #{exchangeWantItemId}
        )
    </insert>
</mapper>