<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.trade.mapper.TradeMapper">
    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 교환 > 진행 중인 교환글 존재 여부 확인 -->
    <select id="selectTradeExchangeChk" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1 FROM TRADE
            WHERE gacha_id = #{gachaId}
             AND  user_id  = #{userId}
             AND  status   = 'PENDING'
             AND  type     = 'EXCHANGE'
        )
    </select>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 판매 > 진행 중인 판매글 존재 여부 확인 -->
    <select id="selectTradeSalesChk">
        SELECT EXISTS (
            SELECT 1 FROM TRADE
            WHERE gacha_id = #{gachaId}
             AND  user_id  = #{userId}
             AND  status   = 'PENDING'
             AND  type     = 'SALES'
        )
    </select>

    <!-- 교환등록 > Trade 저장 -->
    <insert id="insertTrade">
        INSERT INTO TRADE (
               id
             , gacha_id
             , user_id
             , type
             , status
             , title
             , content
             , file_id
             , hope_method
             , hope_location
             , hope_address
             , hope_location_latitude
             , hope_location_longitude
             , created_at
             , updated_at
        )
        VALUES (
               #{id}
             , #{gachaId}
             , #{userId}
             , #{type}
             , #{status}
             , #{title}
             , #{content}
             , #{fileId}
             , #{hopeMethod}
             , #{hopeLocation}
             , #{hopeAddress}
             , #{hopeLocationLatitude}
             , #{hopeLocationLongitude}
             , #{createdAt}
             , #{updatedAt}
        )
    </insert>

    <!-- 교환등록 > TradeItem 저장 -->
    <insert id="insertTradeItem">
        INSERT INTO TRADE_ITEM (
               id
             , trade_id
             , gacha_id
             , type
             , status
             , created_at
             , updated_at
             , sales_item_id
             , sales_count
             , sales_current_count
             , sales_price
             , exchange_give_item_id
             , exchange_want_item_id
        )
        VALUES (
               #{id}
             , #{tradeId}
             , #{gachaId}
             , #{type}
             , #{status}
             , #{createdAt}
             , #{updatedAt}
             , #{salesItemId}
             , #{salesCount}
             , #{salesCurrentCount}
             , #{salesPrice}
             , #{exchangeGiveItemId}
             , #{exchangeWantItemId}
        )
    </insert>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 거래 목록 조회 > totalElements 계산 -->
    <select id="selectTradeListCnt">
        SELECT COUNT(T.id)
        FROM TRADE T
        WHERE T.gacha_id = #{gachaId}
        <choose>
            <when test='onlyPending == "Y"'>
                AND T.status = 'PENDING'
            </when>
        </choose>
        <choose>
            <when test='gachaItemId != null and gachaItemId != ""'>
                AND EXISTS (
                    SELECT 1 FROM TRADE_ITEM TI
                    WHERE TI.trade_id = T.id
                     AND (
                         (T.type = 'SALES'    AND TI.sales_item_id = #{gachaItemId})
                         OR
                         (T.type = 'EXCHANGE' AND TI.exchange_give_item_id = #{gachaItemId})
                     )
                )
            </when>
        </choose>
    </select>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 거래 목록 조회 -->
    <select id="selectTradeList" resultType="com.moira.itda.domain.trade.dto.response.TradeResponse">
        SELECT
               T.id       AS trade_id
             , T.gacha_id
             , T.user_id
             , U.nickname AS user_nickname
             , T.type
             , T.status
             , T.title
             , T.content
             , T.file_id
             , (SELECT file_url FROM IMAGE_FILE WHERE file_id = T.file_id ORDER BY created_at LIMIT 1) AS file_url
             , T.hope_method
             , T.hope_location
             , T.hope_address
             , T.hope_location_latitude
             , T.hope_location_longitude
             , (SELECT COUNT(id) FROM TRADE_SUGGEST WHERE trade_id = T.id AND gacha_id = T.gacha_id AND status != 'CANCELED') AS suggest_count
             , T.created_at
        FROM TRADE T
        INNER JOIN USER U ON U.id = T.user_id
        WHERE T.gacha_id = #{gachaId}
        <choose>
            <when test='onlyPending == "Y"'>
                AND T.status = 'PENDING'
            </when>
        </choose>
        <choose>
            <when test='gachaItemId != null and gachaItemId != ""'>
                AND EXISTS (
                    SELECT 1 FROM TRADE_ITEM TI
                    WHERE TI.trade_id = T.id
                     AND (
                         (T.type = 'SALES'    AND TI.sales_item_id = #{gachaItemId})
                         OR
                         (T.type = 'EXCHANGE' AND TI.exchange_give_item_id = #{gachaItemId})
                     )
                )
            </when>
        </choose>
        ORDER BY T.created_at DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 교환 수정 > 거래 정보 조회 -->
    <select id="selectTradeResponse" resultType="com.moira.itda.domain.trade.dto.response.TradeDetailResponse">
        SELECT
               T.id AS trade_id
             , T.gacha_id
             , T.type
             , T.status
             , T.title
             , T.content
             , T.file_id
             , NULL AS file_url_list
             , T.hope_method
             , T.hope_location
             , T.hope_address
             , T.hope_location_latitude
             , T.hope_location_longitude
             , T.created_at
        FROM TRADE T
        WHERE id = #{tradeId}
    </select>

    <!-- 가챠정보 > 가챠목록 > 상세정보 > 거래 목록 조회 > 하위 판매/교환 정보 조회 -->
    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 교환 수정 > 거래 정보 조회 > 하위 교환/판매 정보 조회 -->
    <!-- 내 활동 > 내 거래 목록 조회 > 하위 교환/판매 정보 조회 -->
    <select id="selectTradeItemList" resultType="com.moira.itda.domain.trade.dto.response.TradeItemResponse">
        SELECT
               TI.id                       AS trade_item_id
             , TI.trade_id
             , TI.gacha_id
             , TI.type
             , TI.status
             , TI.created_at
             , TI.updated_at
             , TI.sales_item_id
             , GI_S.name                   AS sales_item_name
             , TI.sales_count
             , TI.sales_current_count
             , TI.sales_price
             , TI.exchange_give_item_id
             , GI_E1.name                  AS exchange_give_item_name
             , TI.exchange_want_item_id
             , GI_E2.name                  AS exchange_want_item_name
        FROM TRADE_ITEM TI
         LEFT JOIN GACHA_ITEM GI_S  ON GI_S.id  = TI.sales_item_id
         LEFT JOIN GACHA_ITEM GI_E1 ON GI_E1.id = TI.exchange_give_item_id
         LEFT JOIN GACHA_ITEM GI_E2 ON GI_E2.id = TI.exchange_want_item_id
        WHERE TI.trade_id = #{tradeId}
        ORDER BY TI.id ASC
    </select>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 교환 수정 > Trade 조회 -->
    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 거래 삭제 > Trade 조회 -->
    <select id="selectTrade" resultType="com.moira.itda.global.entity.Trade">
        SELECT
               id
             , gacha_id
             , user_id
             , type
             , status
             , title
             , content
             , file_id
             , hope_method
             , hope_location
             , hope_address
             , hope_location_latitude
             , hope_location_longitude
             , created_at
             , updated_at
        FROM TRADE
        WHERE id = #{tradeId}
    </select>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 교환 수정 > Trade 수정 -->
    <update id="updateTrade">
        UPDATE TRADE
        SET
               title                   = #{request.title}
             , content                 = #{request.content}
             , file_id                 = #{request.fileId}
             , hope_method             = #{request.hopeMethod}
             , hope_location           = #{request.hopeLocation}
             , hope_address            = #{request.hopeAddress}
             , hope_location_latitude  = #{request.hopeLocationLatitude}
             , hope_location_longitude = #{request.hopeLocationLongitude}
             , updated_at              = CURRENT_TIMESTAMP
        WHERE id = #{tradeId}
    </update>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 교환 수정 > TradeItem 수정 (교환) -->
    <update id="updateTradeExchangeItem">
        UPDATE TRADE_ITEM
        SET
               exchange_give_item_id = #{request.giveItemId}
             , exchange_want_item_id = #{request.wantItemId}
             , updated_at            = CURRENT_TIMESTAMP
        WHERE id = #{request.tradeItemId}
    </update>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 교환 수정 > APPROVED된 제안 여부 조회 -->
    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 거래 삭제 > APPROVED된 제안 여부 조회 -->
    <select id="selectTradeSuggestApprovedChk">
        SELECT EXISTS (
            SELECT 1 FROM TRADE_SUGGEST
            WHERE trade_id = #{tradeId} AND status = 'APPROVED'
        )
    </select>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 거래 삭제 > TradeSuggest 삭제 -->
    <delete id="deleteTradeSuggest">
        DELETE FROM TRADE_SUGGEST WHERE trade_id = #{tradeId}
    </delete>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 거래 삭제 > TradeItem 삭제 -->
    <delete id="deleteTradeItem">
        DELETE FROM TRADE_ITEM WHERE trade_id = #{tradeId}
    </delete>

    <!-- 가챠정보 > 가챠 목록 > 상세정보 > 거래 삭제 > Trade 삭제 -->
    <delete id="deleteTrade">
        DELETE FROM TRADE WHERE id = #{tradeId}
    </delete>

    <!-- 내 활동 > 내 거래 목록 조회 > totalElements 계산 -->
    <select id="selectMyTradeListCnt">
        SELECT COUNT(id) FROM TRADE WHERE user_id = #{userId} AND type = #{type}
    </select>

    <!-- 마이페이지 > 내 거래 목록 조회 -->
    <select id="selectMyTradeList" resultType="com.moira.itda.domain.trade.dto.response.TradeResponse">
        SELECT
               T.id AS trade_id
             , T.gacha_id
             , T.user_id
             , '' AS user_nickname
             , T.type
             , T.status
             , T.title
             , T.content
             , T.file_id
             , (SELECT file_url FROM IMAGE_FILE WHERE file_id = T.file_id ORDER BY created_at ASC LIMIT 1) AS file_url
             , T.hope_method
             , T.hope_location
             , T.hope_address
             , T.hope_location_latitude
             , T.hope_location_longitude
             , (SELECT COUNT(id) FROM TRADE_SUGGEST WHERE trade_id = T.id AND status != 'CANCELED') AS suggest_count
             , T.created_at
        FROM TRADE T
        WHERE user_id = #{userId} AND type = #{type}
        ORDER BY created_at DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
</mapper>