<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.itda.domain.login.mapper.LoginMapper">
    <!-- 로그인 > 이메일로 User 조회 -->
    <select id="selectUserByEmail" resultType="com.moira.itda.global.entity.User">
        SELECT
               id
             , role
             , status
             , type
             , name
             , nickname
             , phone
             , image_url AS imageUrl
             , email
             , password
             , refresh_token AS refreshToken
             , last_login_at AS lastLoginAt
             , created_at    AS createdAt
             , updated_at    AS updatedAt
        FROM USER
        WHERE email = #{email}
    </select>

    <!-- 로그인 > RTK 저장 -->
    <update id="updateUserWhenLogin">
        UPDATE USER
        SET
               refresh_token = #{rtk}
             , last_login_at = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>

    <!-- 로그인 > 로그인 기록 저장 -->
    <insert id="insertLoginHistory">
        INSERT INTO LOGIN_HISTORY (
               user_id
             , success_yn
             , ip_address
             , user_agent
             , login_at
        )
        VALUES (
               #{userId}
             , #{successYn}
             , #{ipAddress}
             , #{userAgent}
             , #{loginAt}
        )
    </insert>

    <!-- 로그아웃 > RTK 삭제 -->
    <update id="updateUserWhenLogout">
        UPDATE USER
        SET refresh_token = null
        WHERE id = #{userId}
    </update>
</mapper>